/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-white: #fff;
  --vt-black: #000;
  --vt-yellow: #FFB400;
  --vt-ash: #CCCCCC;
  --vt-grey: #666666;
  --vt-grey-2: #252525;

}

/* semantic color variables for this project */
:root[data-theme='light'] {
  --color-background: var(--vt-white);
  --logo-color: var(--vt-black);
  --color-head-c: var(--vt-grey-2);
  --theme-bg: var(--vt-grey-2);
}


:root[data-theme='dark'] {
  --color-background: var(--vt-black);
  --logo-color: var(--vt-white);
  --color-head-c: var(--vt-ash);
  --theme-bg: var(--vt-yellow);

  .im-circle, .tool-circle {
    background-color: var(--vt-grey-2);
  }
  

.img-th-light {
  display: none;
}

.img-th-dark {
  display: flex;
}
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-black);
    --logo-color: var(--vt-white);
    --color-head-c: var(--vt-ash);
    --theme-bg: var(--vt-yellow);
  }
} */

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100vw;
  color: var(--vt-ash);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter;
  font-size: 17.613px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
}
