@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lily+Script+One&display=swap");

body {
  max-width: 1640px;
  margin: 0 auto;
  position: relative;
}

#container {
  max-width: 1380px;
  height: 100vh;
  margin: 0 auto;
  padding: 1.5rem;
  font-weight: normal;
}

#app {
  height: 100%;
}

h1 {
  color: var(--color-head-c);
  font-family: Inter;
  font-size: 43.841px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  color: var(--color-head-c);
  font-family: Inter;
  font-size: 43.841px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  #container {
    padding: 2rem;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 21px;
  }
  
  h3 {
    font-size: 15px;
  }

  body {
    font-size: 12px;
  }

  p, span {
    font-size: 10px;
  }
}
